/******************************************************************************
 * Reset
 ******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************************
 * Preliminaries
 ******************************************************************************/

html, body {
  width: 100%;
  margin: 0;
  font-size: large;
}

body {
  font-family: 'Crimson Text', constantia, palatino, "times new roman", serif;
  line-height: 1.5;
}

.top {
  max-width: 720px;
}

.vbox {
  /*
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  */
  display: flex;

  /*
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  */
  flex-direction: column;
}

.hbox {
  /*
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  */
  display: flex;

  /*
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  */
  flex-direction: row;
}

.align-items-start {
  /*
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  */
  align-items: flex-start;
}

.align-items-end {
  /*
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  */
  align-items: flex-end;
}

.align-items-center {
  /*
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  */
  align-items: center;
}

.align-items-stretch {
  /*
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  */
  align-items: stretch;
}

.align-items-baseline {
  /*
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  */
  align-items: baseline;
}

.justify-start {
  /*
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  */
  justify-content: flex-start;
}

.space-between {
  /*
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  */
  justify-content: space-between;
}

.justify-center {
  /*
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  */
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.75em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

em {
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe {
  margin-top: 20px;
}

/******************************************************************************
 * Header
 ******************************************************************************/

.page-header {
  display: flex;
  margin-top: 10px;
}

.photo > img {
  margin-top: 10px;
  width: 150px;
}

.header-info {
  margin-left: 40px;
  flex: 1;
}

/******************************************************************************
 * Main
 ******************************************************************************/

main {
  flex: 1;
  margin-top: 20px;
}

main p {
  margin: 10px 0 0 0;
}

.section-header {
  margin-top: 10px;
  flex: auto;
}

.section-header > .line {
  height: 2px;
  border-bottom: 1px dotted #bbb;
  flex: 1;
}

.section-header > h2 {
  margin: 0 10px 0 10px;
}

pre {
  clear: both;
  text-align: center;
  font-family: monospace;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
}

/******************************************************************************
 * Footer
 ******************************************************************************/

footer {
  height: 50px;
  color: #bbb;
}
